{% if product.vendor contains ' e ' %}
  {% assign authors = product.vendor | split: ' e ' %} 
  {% assign author = authors[0] %}
  {% assign coauthor = authors[1] %}
{% else %}
  {% assign author = product.vendor %}
{% endif %}

{% assign illustrator = product.metafields.autor.ilustrador %}
{% assign editor = product.metafields.colaborador.editor %}
{% assign inspired = product.metafields.infotecnica.inspirado %}

{% assign authorurl = author | handleize %}
{% assign coauthorurl = coauthor | handleize %}
{% assign illustratorurl = illustrator | handleize %}
{% assign inspiredourl = inspired | handleize %}
{% assign dados = product.metafields.infotecnica.dados %}


{% assign displayauthor = true %}
{% if product.metafields.autor.ilustrador != empty %}
  {% assign displayillustrator = true %}
{% endif %}

<div class="page-width">
{% if displayauthor == true %}
  
    {% for collection in collections %}
      {% if collection.title == author %}


      <div class="grid grid--2-col">
        <div class="grid__item">
           <img class="picture-author-on-product" src="{{ collection.image | img_url: '420x420'}}" alt="{{ collection.title }}">
        </div>
        <div class="grid__item" >
          <a href="/collections/{{ collection.title | handleize }}">
            <h2 class="autor-title">{{ collection.title }}</h2>
          </a>
          <div class="autor-description">
            {% if collection.description.size > 500 %}
            	<p>{{ collection.description | truncate: 500 }} <a href="{{ collection.url }}"><b>Leia mais</b></a></p>
            {% else %}
            	<p>{{ collection.description }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% else %}
        {% if collection.title == authors[1] %}
        <div class="grid">
          <div class="grid__item">
            <img class="picture-author-on-product" src="{{ collection.image | img_url: '420x420'}}" alt="{{ collection.title }}">
          </div>
          <div class="grid__item">
            <div class="">
              <a href="/collections/{{ collection.title | handleize }}">
                <h2 class="autor-title">{{ collection.title }}</h2>
              </a>
              <div class="autor-description">{% if collection.description.size > 500 %}<p>{{ collection.description | truncate: 500 }} <a href="{{ collection.url }}"><b>Leia mais</b></a></p>{% else %}<p>{{ collection.description }}</p>{% endif %}</div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  
{% endif %}
{% if displayillustrator == true %}
  {% for collection in collections %}
    {% if collection.title == illustrator %}
      <div class="grid grid--1-col">
        <div class="">
            <img class="picture-author-on-product" src="{{ collection.image | img_url: '420x420'}}" alt="{{ collection.title }}">
          </div>      
        <div class="">
          
            <a href="/collections/{{ collection.title | handleize }}">
              <h2 class="autor-title">{{ collection.title }}<small class="txt--emphasis"> - ilustrações</small></h2>
            </a>
          <div class="autor-description">{% if collection.description.size > 500 %}<p>{{ collection.description | truncate: 500 }} <a href="{{ collection.url }}"><b>Leia mais</b></a></p>{% else %}<p>{{ collection.description }}</p>{% endif %}</div>
        </div>
      </div>
    {% endif %}
  {% endfor%}
</div>
{% endif %}
</div>
</div>

{% schema %}
{
  "name": "Author"
}
{% endschema %}