{{ 'section-author-page.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="author-page">
    <div class="author-photodiv">
      <img class="author-photo" src="{{ collection.image | img_url: '420x420'}}" alt="Retrato de {{ collection.title }}">
    </div>

    <div class="author-desc">
      <h2>{{ collection.title }}</h2>
      <p>{{ collection.description }}</P>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Author page"
}
{% endschema %}