{{ 'section-main-collection-authors.css' | asset_url | stylesheet_tag }}

<div class="autorespage">
  <div class="autoresnav">
    <div style="margin-bottom:1.5em; margin-left: 10%;">
      <span class="h3 autorestitulo">{{ page.title }}</span>
      <a href="/pages/ilustradores"><span>> ilustradores</span></a>
    </div>
  </div>

  <div class="autoresdiv">
    {% for collection in collections %}
      {% if collection.template_suffix == 'autor' and collection.metafields.autor.autor != 'ilustrador' %}
        {% if collection.image %}
          <div class="autor-grid-item">
            <a href="{{collection.url}}">
              <img src="{{ collection.image | img_url: 'compact' }}" alt="{{ collection.title }}" class="desature" />
            </a>
            <p>{{ collection.title }}</p>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Lista de autores"
}
{% endschema %}